<section *ngIf="emprestimoSucesso" class="contracts-section ff-inter">
    <div class="page-title">
        <h2>O empréstimo foi realizado com sucesso! Veja abaixo o que você contratou</h2>
    </div>
    <div class="show-contract">
        <p>Valor das Parcelas: {{ emprestimoSucesso.valorParcelas | currency}}</p>
        <p>Numero de Parcelas: {{ emprestimoSucesso.numeroParcelas}}</p>
        <p>Valor Total Contratado com Juros: {{ emprestimoSucesso.valorTotal | currency}}</p>
    </div>
    <button routerLink="/">
        Realizar novo Emprestimo
    </button>
</section>