.campo-form {
  border-radius: 15px;
  width: 35rem;
  min-height: 20rem;
  background-color: rgb(241, 241, 241);
  box-shadow: 2px 2px 8px rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  margin: 2rem 0rem;
}

h3 {
  color: rgb(32, 47, 83);
}

.form-title {
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
}

form {
  color: rgb(32, 47, 83);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  margin: 20px 0px 5px 0px;
}

.example-full-width {
  width: 50%;
}

.form-button-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-button {
  margin: 10px 10px;
  letter-spacing: 0.5px;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(51, 73, 126);
  color: rgb(240, 240, 240);
  cursor: pointer;
}

.form-button:hover {
  background-color: rgb(73, 95, 145);
  transition: 0.2s;
}

.form-button:active {
  background-color: rgb(55, 70, 109);
  transition: 0.2s;
}

.form-button:disabled {
  background-color: rgb(131, 131, 131);
  cursor: default;
}

mat-radio-group {
  margin-top: 15px;
}

mat-radio-button {
  margin: 0px 20px;
}

.confirm-emprestimo {
  margin: 30px 0px 10px 0px;
  background-color: rgb(241, 241, 241);
  box-shadow: 2px 2px 8px rgb(156, 156, 156);
  border-radius: 10px;
}

.confirm-emprestimo p {
  font-size: 16px;
  margin: 13px 0px 13px 13px;
  color: rgb(32, 47, 83);
}

form p {
  font-size: 10px;
  color: red;
}


@media screen and (max-width: 548px) {
  .campo-form {
    border-radius: 15px;
    width: 15rem;
    min-height: 20rem;
    background-color: rgb(241, 241, 241);
    box-shadow: 2px 2px 8px rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem;
  }

  form{
    width: 100%;
    justify-content: start;
  }

  mat-form-field{
    width: 150px;
  }
  


}

