<section class="container campo-form ff-inter">
    <div class="form-title">
        <h3>Formulário de Solicitação de Empréstimo</h3>
    </div>
    <form [formGroup]="meuForms" action="">

        <mat-form-field class="example-full-width">
            <mat-label>Nome do Solicitante:</mat-label>
            <input matInput formControlName="name" >
        </mat-form-field>   

        <mat-form-field class="example-full-width">
            <mat-label>Valor desejado:</mat-label>
            <input matInput currencyMask formControlName="valor" >
        </mat-form-field>   

        <mat-form-field class="example-full-width">
            <mat-label>Numero de Parcelas:</mat-label>
            <input matInput formControlName="parcelas" >
        </mat-form-field>   

        <mat-form-field class="example-full-width">
            <mat-label>Taxa de Juros %:</mat-label>
            <input  matInput="number" formControlName="taxaJuros" >
        </mat-form-field> 

        <mat-radio-group formControlName="taxaModel" [color]="color" aria-label="Select an option">
            <mat-radio-button value="1">
                Taxa Fixa
            </mat-radio-button>
            <mat-radio-button value="2">
                Taxa por Parcela
            </mat-radio-button>
        </mat-radio-group>

    </form>

    <div class="confirm-emprestimo" *ngIf="visualizacaoEmprestimo" >
        <p>Nome do Solicitante: {{ visualizacaoEmprestimo.nome}}</p>
        <p>Valor Parcelas: {{ visualizacaoEmprestimo.valorParcelas | currency}}</p>
        <p>Numero de Parcelas: {{ visualizacaoEmprestimo.numeroParcelas}}</p>
        <p>Valor Total com Juros: {{ visualizacaoEmprestimo.valorTotal | currency}}</p>
    </div>

    <div class="form-button-container">
        <button (click)="simulaEmprestimo()" class="form-button">Simular Emprestimo</button>
        <button [disabled]="!visualizacaoEmprestimo" (click)="abrirModal()"  class="form-button">Confirmar</button>
    </div>
</section>